html h1{
    text-align: center;
} 
html body p{
    font-family: serif;
}
#contenedor p#primer-parrafo{
    background-color: #cee;
}
p#primer-parrafo.importante em{
    color: #933;
}
/*una retgla para que el elemento con clase .complicado aparezca en negrita y con color #c62*/
html p a[href]{
    outline: 1px solid #333
}
html body p.fuente.parrafo {
    opacity:100%;
    color:#000 !important;
}
.complicado{
    font-weight: bold;
    color: #c62 !important;
}