.box{
    display: flex;
    justify-content: space-between;
    width: 70%;
    float: left;
}
.cards{
    text-shadow:  0 0 0.2em rgb(247, 159, 159), 0 0 0.2em rgb(46, 6, 6), 0 0 0.2em rgb(26, 6, 6);
    display: flex;
    width: 15%;
    float: right;
    justify-content: center;
    margin-right: 5%;
}
section{
    border: 1px solid #ff0000;
    padding: 5px;
}
.cardTwo{
    margin-top: 10px;
}