body{
    background-image:url(imágenes/background.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
    display: flex;
    width: 75%;
    height: auto;
    float: left;
    min-width: 25%;
}
.texto{
    color: white;
    text-shadow:  0 0 0.2em rgb(51, 151, 158), 0 0 0.2em rgb(48, 121, 143), 0 0 0.2em rgb(3, 3, 0);
}
.cards{
    display: flex;
    width: 15%;
    min-height: 10%; min-width: 15%;
    float: right;
    padding: 3% 3%;
}
section{
    border: 2px solid #52ecec; 
    padding: 2px;
}
.cardTwo{
    margin-top: 5%;
}
.imagen{
    height: auto;
    max-width: 100%; max-height: 100%;
    min-width: 50%; min-height: 50%;
}